{{ $lazyload := resources.Get "js/lazyload.min.js" }}
{{ $pfive := resources.Get "js/p5.min.js" }}
{{ $htmltocanvas := resources.Get "js/html2canvas.min.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $js := slice $lazyload $htmltocanvas $pfive $global | resources.Concat "js/bundle.js" | resources.Fingerprint }}
<script async src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
<!-- <script async src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script> -->
