<div class="loading">
  <p>U</p>
  <p>Ü</p>
  <div class="avertissement">
    <button class="btn--load">
      <div class="info">OK&nbsp;!</div>
    </button>
    {{ .Site.Params.Warning | markdownify }}
  </div>
</div>

<div class="cursor cursor--main"></div>
<div class="cursor cursor--bg"></div>


<div class="options">
  <button class="button button--img">
    <svg version="1.1" viewBox="0 0 17.475 17.5" xmlns="http://www.w3.org/2000/svg">
       <g>
        <path d="m14.972 17.5h-12.44c-0.34678-0.0141-0.68738-0.0965-1.0023-0.2425-0.31491-0.1459-0.59796-0.3525-0.83295-0.6079s-0.41731-0.5547-0.53652-0.8806c-0.11921-0.326-0.17299-0.6722-0.15824-1.019v-3c0-0.1989 0.07902-0.3897 0.21967-0.5303 0.14066-0.1407 0.33142-0.2197 0.53033-0.2197 0.19892 0 0.38968 0.079 0.53033 0.2197 0.14066 0.1406 0.21967 0.3314 0.21967 0.5303v3c-0.02581 0.2969 0.06365 0.5924 0.24984 0.8251 0.18618 0.2328 0.45481 0.3849 0.75016 0.4249h12.47c0.2954-0.04 0.564-0.1921 0.7502-0.4249 0.1862-0.2327 0.2756-0.5282 0.2498-0.8251v-3c0-0.1989 0.079-0.3897 0.2197-0.5303 0.1406-0.1407 0.3314-0.2197 0.5303-0.2197s0.3897 0.079 0.5303 0.2197c0.1407 0.1406 0.2197 0.3314 0.2197 0.5303v3c0.03 0.6954-0.2159 1.3744-0.6841 1.8894-0.4682 0.5151-1.1208 0.8243-1.8159 0.8606z"/>
        <path d="m8.7524 12.5c-0.0985 4e-4 -0.1962-0.0188-0.2872-0.0566-0.091-0.0377-0.1736-0.0933-0.2428-0.1634l-4-4c-0.13248-0.1422-0.2046-0.3303-0.20118-0.5246 0.00343-0.1943 0.08214-0.3796 0.21956-0.5171 0.13741-0.1374 0.3228-0.2161 0.5171-0.2195s0.38234 0.0687 0.52452 0.2012l3.47 3.47 3.47-3.47c0.1422-0.1325 0.3302-0.2046 0.5245-0.2012s0.3797 0.0821 0.5171 0.2195c0.1374 0.1375 0.2161 0.3228 0.2196 0.5171 0.0034 0.1943-0.0687 0.3824-0.2012 0.5246l-4 4c-0.0692 0.0701-0.1518 0.1257-0.2428 0.1634-0.091 0.0378-0.1887 0.057-0.2872 0.0566z"/>
        <path d="m8.7524 12.5c-0.1981-0.0026-0.3874-0.0824-0.5275-0.2225s-0.2199-0.3294-0.2225-0.5275v-11c0-0.19891 0.079-0.38968 0.2197-0.53033 0.1406-0.14065 0.3314-0.21967 0.5303-0.21967s0.3897 0.07902 0.5303 0.21967c0.1407 0.14065 0.2197 0.33142 0.2197 0.53033v11c-0.0026 0.1981-0.0824 0.3874-0.2225 0.5275s-0.3294 0.2199-0.5275 0.2225z"/>
       </g>
      </svg>
  </button>
  <button class="button button--shuffle">
    <svg version="1.1" viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">
      <path d="m15.293 0.29289c0.3905-0.39052 1.0237-0.39052 1.4142 0l3 3c0.3905 0.39053 0.3905 1.0237 0 1.4142l-3 3c-0.3905 0.3905-1.0237 0.3905-1.4142 0s-0.3905-1.0237 0-1.4142l1.1929-1.1929h-1.3519c-1.5333 0-2.8922 0.75096-4.1071 1.8414-0.411 0.36889-1.0433 0.33479-1.4122-0.07627-0.3689-0.41101-0.3347-1.0433 0.0763-1.4122 1.4008-1.2573 3.2179-2.353 5.443-2.353h1.5519l-1.3929-1.3929c-0.3905-0.39053-0.3905-1.0237 0-1.4142zm-15.293 3.8071c0-0.55228 0.44772-1 1-1 3.8246 0 6.2406 2.9456 8.1944 5.373 0.0733 0.0912 0.1461 0.1818 0.2184 0.2717 0.9419 1.1723 1.7958 2.235 2.7185 3.0388 0.9722 0.847 1.9228 1.3165 2.9978 1.3165h1.5567l-1.3929-1.3929c-0.3905-0.3905-0.3905-1.0237 0-1.4142s1.0237-0.3905 1.4142 0l3 3c0.3905 0.3905 0.3905 1.0237 0 1.4142l-3 3c-0.3905 0.3905-1.0237 0.3905-1.4142 0s-0.3905-1.0237 0-1.4142l1.1929-1.1929h-1.3567c-1.7314 0-3.1316-0.7805-4.3116-1.8085-0.9813-0.8549-1.8775-1.9429-2.7257-2.9974-0.83891 1.0478-1.733 2.1215-2.714 2.972-1.2009 1.0411-2.627 1.8339-4.3725 1.8339-0.55228 0-1-0.4477-1-1s0.44772-1 1-1c1.0886 0 2.0659-0.4812 3.0624-1.3451 0.93407-0.8098 1.8005-1.8792 2.7314-3.0476-1.7522-2.075-3.447-3.6073-5.7992-3.6073-0.55228 0-1-0.44771-1-1z"/>
    </svg>
  </button>
  <button class="button button--menu">
    <svg version="1.1" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
     <g>
      <path d="m9 13.75c-0.1981-0.0026-0.3874-0.0824-0.5275-0.2225s-0.2199-0.3294-0.2225-0.5275v-5c0-0.1989 0.079-0.3897 0.2197-0.5303 0.1406-0.1407 0.3314-0.2197 0.5303-0.2197s0.3897 0.079 0.5303 0.2197c0.1407 0.1406 0.2197 0.3314 0.2197 0.5303v5c-0.0026 0.1981-0.0824 0.3874-0.2225 0.5275s-0.3294 0.2199-0.5275 0.2225z"/>
      <path d="m9 6.25c-0.1981-0.00259-0.3874-0.08244-0.5275-0.22253-0.1401-0.1401-0.2199-0.32936-0.2225-0.52747v-0.5c0-0.19891 0.079-0.38968 0.2197-0.53033 0.1406-0.14065 0.3314-0.21967 0.5303-0.21967s0.3897 0.07902 0.5303 0.21967c0.1407 0.14065 0.2197 0.33142 0.2197 0.53033v0.5c-0.0026 0.19811-0.0824 0.38737-0.2225 0.52747-0.1401 0.14009-0.3294 0.21994-0.5275 0.22253z"/>
      <path d="m9 18c-1.78 0-3.5201-0.5278-5.0001-1.5168-1.48-0.9889-2.6336-2.3945-3.3148-4.039-0.68119-1.6446-0.85942-3.4542-0.51215-5.2 0.34726-1.7458 1.2044-3.3495 2.4631-4.6082 1.2587-1.2587 2.8623-2.1158 4.6082-2.4631 1.7458-0.34727 3.5554-0.16904 5.2 0.51215 1.6445 0.68119 3.0501 1.8347 4.039 3.3148 0.989 1.48 1.5168 3.2201 1.5168 5.0001 0 2.387-0.9482 4.6761-2.636 6.364-1.6879 1.6878-3.977 2.636-6.364 2.636zm0-16.5c-1.4834 0-2.9334 0.43987-4.1668 1.264s-2.1947 1.9954-2.7623 3.3659c-0.56766 1.3704-0.71618 2.8784-0.4268 4.3333 0.28939 1.4548 1.0037 2.7912 2.0526 3.8401 1.0489 1.0489 2.3853 1.7632 3.8401 2.0526 1.4549 0.2894 2.9629 0.1409 4.3333-0.4268 1.3705-0.5677 2.5418-1.529 3.3659-2.7623 0.8241-1.2334 1.264-2.6834 1.264-4.1668 0-1.9891-0.7902-3.8968-2.1967-5.3033-1.4065-1.4065-3.3142-2.1967-5.3033-2.1967z"/>
     </g>
    </svg>

  </button>
  <button class="button button--plus">
    <svg version="1.1" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
     <g>
      <path d="m9 18c-1.78 0-3.5201-0.5278-5.0001-1.5168-1.48-0.9889-2.6336-2.3945-3.3148-4.039-0.68119-1.6446-0.85942-3.4542-0.51215-5.2 0.34726-1.7458 1.2044-3.3495 2.4631-4.6082 1.2587-1.2587 2.8623-2.1158 4.6082-2.4631 1.7458-0.34727 3.5554-0.16904 5.2 0.51215 1.6445 0.68119 3.0501 1.8347 4.039 3.3148 0.989 1.48 1.5168 3.2201 1.5168 5.0001 0 2.387-0.9482 4.6761-2.636 6.364-1.6879 1.6878-3.977 2.636-6.364 2.636zm0-16.5c-1.4834 0-2.9334 0.43987-4.1668 1.264s-2.1947 1.9954-2.7623 3.3659c-0.56766 1.3704-0.71618 2.8784-0.4268 4.3333 0.28939 1.4548 1.0037 2.7912 2.0526 3.8401 1.0489 1.0489 2.3853 1.7632 3.8401 2.0526 1.4549 0.2894 2.9629 0.1409 4.3333-0.4268 1.3705-0.5677 2.5418-1.529 3.3659-2.7623 0.8241-1.2334 1.264-2.6834 1.264-4.1668 0-1.9891-0.7902-3.8968-2.1967-5.3033-1.4065-1.4065-3.3142-2.1967-5.3033-2.1967z"/>
      <path d="m9 13.75c-0.1981-0.0026-0.3874-0.0824-0.5275-0.2225s-0.2199-0.3294-0.2225-0.5275v-8c0-0.19891 0.079-0.38968 0.2197-0.53033 0.1406-0.14065 0.3314-0.21967 0.5303-0.21967s0.3897 0.07902 0.5303 0.21967c0.1407 0.14065 0.2197 0.33142 0.2197 0.53033v8c-0.0026 0.1981-0.0824 0.3874-0.2225 0.5275s-0.3294 0.2199-0.5275 0.2225z"/>
      <path d="m13 9.75h-8c-0.19891 0-0.38968-0.079-0.53033-0.2197-0.14065-0.1406-0.21967-0.3314-0.21967-0.5303s0.07902-0.3897 0.21967-0.5303c0.14065-0.1407 0.33142-0.2197 0.53033-0.2197h8c0.1989 0 0.3897 0.079 0.5303 0.2197 0.1407 0.1406 0.2197 0.3314 0.2197 0.5303s-0.079 0.3897-0.2197 0.5303c-0.1406 0.1407-0.3314 0.2197-0.5303 0.2197z"/>
     </g>
    </svg>
  </button>
  <button class="button button--minus">
    <svg version="1.1" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
     <path d="m9 18c-1.78 0-3.5201-0.5278-5.0001-1.5168-1.48-0.9889-2.6336-2.3945-3.3148-4.039-0.68119-1.6446-0.85942-3.4542-0.51215-5.2 0.34726-1.7458 1.2044-3.3495 2.4631-4.6082 1.2587-1.2587 2.8623-2.1158 4.6082-2.4631 1.7458-0.34727 3.5554-0.16904 5.2 0.51215 1.6445 0.68119 3.0501 1.8347 4.039 3.3148 0.989 1.48 1.5168 3.2201 1.5168 5.0001 0 2.387-0.9482 4.6761-2.636 6.364-1.6879 1.6878-3.977 2.636-6.364 2.636zm0-16.5c-1.4834 0-2.9334 0.43987-4.1668 1.264s-2.1947 1.9954-2.7623 3.3659c-0.56766 1.3704-0.71618 2.8784-0.4268 4.3333 0.28939 1.4548 1.0037 2.7912 2.0526 3.8401 1.0489 1.0489 2.3853 1.7632 3.8401 2.0526 1.4549 0.2894 2.9629 0.1409 4.3333-0.4268 1.3705-0.5677 2.5418-1.529 3.3659-2.7623 0.8241-1.2334 1.264-2.6834 1.264-4.1668 0-1.9891-0.7902-3.8968-2.1967-5.3033-1.4065-1.4065-3.3142-2.1967-5.3033-2.1967z"/>
     <path d="m13 9.75h-8c-0.19891 0-0.38968-0.079-0.53033-0.2197-0.14065-0.1406-0.21967-0.3314-0.21967-0.5303s0.07902-0.3897 0.21967-0.5303c0.14065-0.1407 0.33142-0.2197 0.53033-0.2197h8c0.1989 0 0.3897 0.079 0.5303 0.2197 0.1407 0.1406 0.2197 0.3314 0.2197 0.5303s-0.079 0.3897-0.2197 0.5303c-0.1406 0.1407-0.3314 0.2197-0.5303 0.2197z"/>
    </svg>
  </button>
  <button class="button button--eraser">
    <svg version="1.1" viewBox="0 0 16.5 16.5" xmlns="http://www.w3.org/2000/svg">
 <path d="m16.5 6.09c0-0.46-0.18-0.9-0.51-1.23l-4.35-4.35c-0.68-0.68-1.78-0.68-2.46 0l-8.67 8.67c-0.33 0.33-0.51 0.77-0.51 1.23s0.18 0.9 0.51 1.23l4.35 4.35c0.34 0.34 0.78 0.51 1.23 0.51 0.04 0 0.09 0 0.13-0.01h0.05 7.99c0.41 0 0.75-0.34 0.75-0.75s-0.34-0.75-0.75-0.75h-5.95l7.67-7.67c0.33-0.33 0.51-0.77 0.51-1.23zm-14.93 4.49c-0.06-0.06-0.07-0.13-0.07-0.17s0-0.11 0.07-0.17l3.8-3.8 4.69 4.69-3.8 3.8c-0.09 0.09-0.24 0.09-0.34 0l-4.35-4.36zm13.36-4.31-3.8 3.8-4.69-4.69 3.8-3.8c0.09-0.09 0.24-0.09 0.34 0l4.35 4.36c0.06 0.06 0.07 0.13 0.07 0.17s0 0.11-0.07 0.17z"/>
</svg>
  </button>
  <button class="button button--clear">
    <svg version="1.1" viewBox="0 0 11.5 11" xmlns="http://www.w3.org/2000/svg">
     <path d="m2.8536 0.14645c0.19527 0.19526 0.19527 0.51184 0 0.7071l-1.1464 1.1464h5.2929c2.4853 0 4.5 2.0147 4.5 4.5 0 2.4853-2.0147 4.5-4.5 4.5h-4c-0.27614 0-0.5-0.2239-0.5-0.5s0.22386-0.5 0.5-0.5h4c1.933 0 3.5-1.567 3.5-3.5s-1.567-3.5-3.5-3.5h-5.2929l1.1464 1.1464c0.19527 0.19526 0.19527 0.51184 0 0.7071-0.19526 0.19527-0.51184 0.19527-0.7071 0l-2-2c-0.19527-0.19526-0.19527-0.51184 0-0.7071l2-2c0.19526-0.19527 0.51184-0.19527 0.7071 0z"/>
    </svg>
  </button>
</div>

<header class="menu">
  <a href="{{ .Site.Params.address | safeHTML }}" target="_blank" rel="noopener" class="title__link">{{
    .Site.Params.Title }}</a>
  <div class="menu__content">
    {{ .Site.Params.Presentation | markdownify }}
  </div>
  <div class="credits">
    {{ .Site.Params.credits | markdownify }}
  </div>
</header>
