{{ $content := .Content }}
{{ $content = replace $content " ;" "&nbsp;;" }}
{{ $content = replace $content " !" "&nbsp;!" }}
{{ $content = replace $content " ?" "&nbsp;?" }}
{{ $content = replace $content " :" "&nbsp;:" }}
{{ $content = replace $content " %" "&nbsp;%" }}
{{ $content = replace $content "&ldquo;" "«&nbsp;" }}
{{ $content = replace $content "&rdquo;" "&nbsp;»" }}
{{ $content = replaceRE `(<a (?:.*) class=\"footnote-backref\" (?:.*)>)(?:.*)(</a>)` `${1}↑${2}` $content }}
{{ $content = replaceRE `\^(.+?)\^` `<sup>$1</sup>` $content }}

{{ $contenten := .Content }}
{{ $contenten = replace $content " ;" ";" }}
{{ $contenten = replace $content " !" "!" }}
{{ $contenten = replace $content " ?" "?" }}
{{ $contenten = replace $content " :" ":" }}
{{ $contenten = replace $content " %" "%" }}
{{ $contenten = replaceRE `(<a (?:.*) class=\"footnote-backref\" (?:.*)>)(?:.*)(</a>)` `${1}↑${2}` $content }}
{{ $contenten = replaceRE `\^(.+?)\^` `<sup>$1</sup>` $content }}

{{ if eq .Lang "fr" }}
{{ $content | safeHTML }}
{{ else }}
{{ $contenten | safeHTML }}
{{ end }}
